@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Montserrat:wght@400;700&display=swap');

.inicio {
    background-color: #FEF9E7;
    color: #2C3E50;               
    font-family: 'Montserrat', sans-serif;
    margin: 48px;
    line-height: 1.6;
}

 h1{
    font-family: 'Playfair Display', serif;
    font-size: 3em;
    margin-bottom: 0.5em;
    text-align: center;
 }

p {
   font-size: 1.2em;
    margin-bottom: 1em;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 4px;
  }

  ul {
    list-style-type: square;
  }
  